In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import h5py

%reload_ext autoreload
%autoreload 2

## Look at comp_dict directly

In [15]:
data_file='example_ffp.h5' #this is the compact object dictionary after PBHs are injected
ignored_keys = {'add_pbh', 'lat_bin_edges', 'long_bin_edges'}
bins_dict = {}
with h5py.File(data_file, 'r') as f:
    phys_keys = np.array(list(f['l0b0'].dtype.names))

    df = pd.DataFrame(columns=phys_keys)

    for key in list(f.keys()):
        if key not in ignored_keys:
            num_stars = len(np.array(f[key]))
            #! 0 is a physical quantitiy so check later if it's an issue to initialize all zeros
            sub_arr = np.zeros((num_stars, len(phys_keys)))
            for i, star in enumerate(np.array(f[key])):
                sub_arr[i] = list(star) 
            df = pd.concat([df, pd.DataFrame(sub_arr, columns=phys_keys)])

In [16]:
df.head()

,zams_mass,mass,px,py,pz,vx,vy,vz,age,popid,...,ubv_H,ubv_K,ubv_U,ubv_I,ubv_B,ubv_V,ubv_R,vr,mu_b,mu_lcosb
0,0.503571,0.503571,3.631762,0.062991,-0.065598,-20.581390,-24.072226,-12.524226,5.827383,0.0,...,5.938429,5.792072,11.798287,7.600787,10.721358,9.466644,8.552930,-20.766177,-0.748646,-1.375852
1,0.393893,0.393893,4.790543,0.082235,-0.086362,-18.358408,-10.715219,-3.930184,5.544013,0.0,...,6.613530,6.421209,12.853517,8.287896,11.697989,10.366171,9.388461,-18.465815,-0.187513,-0.457441
2,0.095672,0.095672,5.375013,0.092805,-0.097811,7.669304,-35.641441,-15.736011,5.257884,0.0,...,8.917903,8.649642,18.339668,11.017556,16.098106,14.173828,12.747360,7.337969,-0.611782,-1.402376
3,0.103781,0.103781,1.381481,0.024024,-0.025084,-18.424522,-6.588330,-14.462896,6.750011,0.0,...,8.849195,8.581558,17.990839,10.907817,15.848731,13.963803,12.583215,-18.270712,-2.257165,-0.956019
4,0.146732,0.146732,2.826867,0.049280,-0.051460,-30.147104,-21.643343,-0.324761,6.945432,0.0,...,8.702185,8.443503,16.352642,10.557643,14.792372,13.177802,12.001276,-30.508786,-0.065583,-1.574057

In [7]:
df.keys()

Index(['zams_mass', 'mass', 'px', 'py', 'pz', 'vx', 'vy', 'vz', 'age', 'popid',
       'exbv', 'glat', 'glon', 'mbol', 'grav', 'teff', 'feh', 'rad', 'rem_id',
       'obj_id', 'ubv_J', 'ubv_H', 'ubv_K', 'ubv_U', 'ubv_I', 'ubv_B', 'ubv_V',
       'ubv_R', 'vr', 'mu_b', 'mu_lcosb'],
      dtype='object')

In [6]:
df.loc[df['rem_id']==104.0]

,zams_mass,mass,px,py,pz,vx,vy,vz,age,popid,...,ubv_H,ubv_K,ubv_U,ubv_I,ubv_B,ubv_V,ubv_R,vr,mu_b,mu_lcosb
188417,30.0,30.0,12.753694,0.218818,-0.229487,-109.508843,-118.318041,-122.823475,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-109.505696,-2.030034,-1.954479
188418,30.0,30.0,7.981753,0.138292,-0.144787,-49.209200,187.677387,175.297906,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-49.207932,4.627792,4.955438
188419,30.0,30.0,7.681722,0.132695,-0.140352,103.326692,-173.360213,150.434486,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.226461,4.127786,-4.756661
188420,30.0,30.0,7.738313,0.134651,-0.141565,198.766712,-68.950655,52.796840,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.728902,1.439512,-1.879335
188421,30.0,30.0,9.328685,0.159942,-0.168516,112.739856,-198.283001,255.831451,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.599879,5.780025,-4.479968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189125,30.0,30.0,10.514203,0.185000,-0.186309,282.379327,240.255768,-140.221721,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,282.496429,-2.808689,4.813666
189126,30.0,30.0,11.476559,0.201334,-0.202588,153.757345,-160.571399,-233.106288,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.779971,-4.279472,-2.949307
189127,30.0,30.0,9.307258,0.162936,-0.164345,-33.157449,337.387157,198.751973,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.115607,4.499910,7.639347
189128,30.0,30.0,7.250479,0.127516,-0.129697,184.769714,107.161942,82.733854,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.776763,2.406319,3.112992
189129,30.0,30.0,8.154490,0.144015,-0.145642,94.004530,-247.763986,5.968452,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.926298,0.154997,-6.403624

Want to set t_eff (temp), all ubvs and ztfs (photometry) = 0, set velocities: vx,vy,vz. set positions: px,pv,pz, rad, glat, glon. Assign new population id popid, sample mass from distribution (zams_mass vs mass are always almost the same it seems)